<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEW DOG</title>
</head>
<body>
<form method="POST" action="/dogs">
	<div>
		<label for="name">Enter a name</label>
		<input type="text" name="name"></input>
		<label for="hairColor">Enter a color</label>
		<input type="text" name="hairColor"></input>
		<button type="submit"> submit</button>
	</div>
</form>

</body>
</html>