<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This Dog</title>
  </head>
  <body>
    <h1>Who let the dogs out?</h1>

    <a href="/dogs">Back</a>
    <h2><%= dog.name %></h2>
    <h2><%= dog.hairColor %></h2>
  </body>
</html>